@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
}

h1, h2, h3, h6 {
    padding: 0;
    margin: 0;
}

#page-wrapper {
    min-height: 100vh;

    display: grid;
    grid-template-rows: 1fr 9fr;
}

header {
    background-color: rgb(112, 112, 246);
    

    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-weight: 900;
}



main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    border-radius: 10px;
    border: 1px solid red;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.folder-input {
    border: 3px solid red;
}

#add-new-btn,
.side-buttons {
    text-transform: uppercase;
    font-size: 0.7rem;
    word-spacing: 1px;
}

.wrapper,
#projects-wrapper,
#display-section {
    border: 1px solid black;
    border-radius: inherit;

    padding: 5px 10px;
}



.indiv-proj-wrapper {
    border:1px solid black;
    padding: 3px 0;

    cursor: pointer;
}

.indiv-proj-wrapper h3 {
    pointer-events: none;
}


#display-section {
    background-color: white;
    border: 1px solid green;
}

#display-section > div {
    border: 1px solid black;
    height: auto;

    padding: 5px 10px;
}

#display-section-wrapper {
    min-height: 98%;
    display: flex;
    flex-direction: column;
}

.header-div {
    display:flex;
    order:1;

    margin-bottom: 10px;
}

.header-name {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-actions {
    margin-right: 10px;
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 10px;

}

#todo-wrapper {
    order:2;

    border: 1px solid black;

    display:flex;
    flex-direction: column;
    gap:5px;

}

.check-box {
    margin-left:10px;
}

.check-box > img,
.icons:not(.prio-btn),
.main-todo-wrapper > img {
    cursor: pointer;
}

.todo-box {
    border: 1px solid black;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 16px 20px 16px 5px;
}

.todo-expanding {
    margin-top: 16px;
}

.todo-actions {
    margin-left: auto;
    
    display: flex;
    gap: 10px;
}

.todo-box p {
    margin: 0;
}

.status-done {
    background-color: rgb(151, 206, 151);
}

.big-icons {
    aspect-ratio: 1/1;
    height: 1.5rem;
    cursor: pointer;
}

.icons {
    aspect-ratio: 1/1;
    height: 1rem;
}

.icons.bl-chk {
    height: 0.8rem;
}

.bottom-area {
    order:3;

    border: 1px solid black;
    margin-top: auto;
}

.bottom-area > button {
    font-size: 1.5rem;

    margin-top: 10px;
}

/* --- MODAL AND FORM --- */

dialog {
    border: 0;
    border-radius: 3px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.386);
    backdrop-filter: blur(2px);
}

.modal-wrapper,
#toDoDetails {
    display:flex;
    flex-direction: column;
    gap: 5px;
}

#toDoDetails > div {
    display: flex;
    flex-direction: column;
}

#toDoDetails > div > span {
    font-size: 0.7rem;
    font-weight: 700;
    color: rgb(176, 11, 11);
    text-transform: uppercase;
}

#toDoDetails > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}




/* --- REMOVE POINTER EVENTS --- */

.main-todo-wrapper p{
    pointer-events: none;
}